/* Style Settings */

:root {
    --font: 'SB Body';
}

body {
    background: url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#title-text {
    color: #AC2B37;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: 80%;
    display: block;
    margin: 27px auto;
}

.link {
    display: block;
    background-color: #AC2B37;
    color: #fff;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--accentColor) 2px;
}

.link:hover {
    background-color: #fff;
    color: #AC2B37;
    border: solid #A9B0B7 2px;
}

.card-transparent {
    background: rgba(255,255,255,.9)!important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 8%;

}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {  
    .card-transparent {
        width: 80%
    }    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {  
    .card-transparent {
        width: 60%
    }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {  
    .card-transparent {
        width: 50%
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card-transparent {
        width: 40%
    }  
}
